/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    padding: 3px 6px;
}
/* Home section */
#home{
    height: 495px;
    padding: 30px 20px;
    padding-bottom: 60px;
}
#home::before{
    height: 688px;
}
#home p{
    font-size: 3.7vmin;
}
/* Services section */
#services{
    flex-direction: column;
    margin: 6px;
}
#services-container h1{
    font-size: 3.6rem;
}
#services .box{
    padding: 25px 13px;
    margin: 2px 11px
}
#services .box img{
    height: 120px;
}
#services{

}
/* Clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    height: auto;
}
#client-section::before{
    height: 391px;
}
/* Contact us section */
#contact-box form {
    width: 75%;
}
/* Footer */

/* Utility Classes */
.h-primary{
    font-size: 7.5vmin;
}
